.internalTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.internalTable th,
.internalTable td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}

.internalTable input {
  width: 50px;
  /* small input box */
  padding: 2px 4px;
  font-size: 0.9rem;
  text-align: center;
}

.saveButton {
  padding: 10px 12px;
  font-size: 14px;
  max-width: fit-content;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  background: #6a5af9;
  color: #fff;
}

.saveButton:hover{
 background: #5846d0;
}