.login-page {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.left-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(90, 162, 218);
  border-bottom-right-radius: 300px;
  overflow: hidden; 
}

.left-section img {
  width: 100%;
  max-width: 750px;
  object-fit: contain;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.login-box {
  width: 80%;
  max-width: 350px;
  padding: 40px 35px;
  border-radius: 18px;
  background: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.login-box h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #222;
}

.login-box input {
  width: 100%;
  padding: 14px 15px;
  margin: 10px 0;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.login-box input:focus {
  border-color: #4f8bff;
  box-shadow: 0 0 4px rgba(79, 139, 255, 0.4);
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 12px;
  text-align: left;
}

.login-box button {
  width: 100%;
  padding: 14px;
  border: none;
  background: linear-gradient(90deg, #4f9aff, #1d6bff);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.login-box button:hover {
  opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .login-page {
    flex-direction: column;
    height: auto;
  }

  .left-section {
    padding: 40px 0;
  }

  .right-section {
    padding: 40px 0;
  }

  .login-box {
    width: 90%;
  }
}
